pipelines/Main_pipeline.json
{
    "name": "Main_pipeline",
    "properties": {
        "activities": [
            {
                "name": "Incremental Copy Activity",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Last_load",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "Currenr_load",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "select * from source_car_data where Date_ID > '@{activity('Last_load').output.value[0].Last_load}' And Date_ID <= '@{activity('Currenr_load').output.value[0].max_date}'",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "ParquetSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "ParquetWriteSettings"
                        }
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "mappings": [
                            {
                                "source": {
                                    "name": "Branch_ID",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "Branch_ID",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                }
                            },
                            {
                                "source": {
                                    "name": "Dealer_ID",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "Dealer_ID",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                }
                            },
                            {
                                "source": {
                                    "name": "Model_ID",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "Model_ID",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                }
                            },
                            {
                                "source": {
                                    "name": "Revenue",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                },
                                "sink": {
                                    "name": "Revenue",
                                    "type": "Int64",
                                    "physicalType": "INT_64"
                                }
                            },
                            {
                                "source": {
                                    "name": "Units_Sold",
                                    "type": "Int64",
                                    "physicalType": "bigint"
                                },
                                "sink": {
                                    "name": "Units_Sold",
                                    "type": "Int64",
                                    "physicalType": "INT_64"
                                }
                            },
                            {
                                "source": {
                                    "name": "Date_ID",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "Date_ID",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                }
                            },
                            {
                                "source": {
                                    "name": "Day",
                                    "type": "Int32",
                                    "physicalType": "int"
                                },
                                "sink": {
                                    "name": "Day",
                                    "type": "Int32",
                                    "physicalType": "INT_32"
                                }
                            },
                            {
                                "source": {
                                    "name": "Month",
                                    "type": "Int32",
                                    "physicalType": "int"
                                },
                                "sink": {
                                    "name": "Month",
                                    "type": "Int32",
                                    "physicalType": "INT_32"
                                }
                            },
                            {
                                "source": {
                                    "name": "Year",
                                    "type": "Int32",
                                    "physicalType": "int"
                                },
                                "sink": {
                                    "name": "Year",
                                    "type": "Int32",
                                    "physicalType": "INT_32"
                                }
                            },
                            {
                                "source": {
                                    "name": "BranchName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "BranchName",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                }
                            },
                            {
                                "source": {
                                    "name": "DealerName",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "DealerName",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                }
                            },
                            {
                                "source": {
                                    "name": "Product_Name",
                                    "type": "String",
                                    "physicalType": "varchar"
                                },
                                "sink": {
                                    "name": "Product_Name",
                                    "type": "String",
                                    "physicalType": "UTF8"
                                }
                            }
                        ],
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "DS_SQLserver",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DS_Gen2_Parquet",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "Last_load",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "select * from water_table",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "DS_SQLserver",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "Currenr_load",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "select  max(Date_ID) as max_date from source_car_data ",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "DS_SQLserver",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "Update_water_table",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Incremental Copy Activity",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[Update_water_table]",
                    "storedProcedureParameters": {
                        "Last_load": {
                            "value": {
                                "value": "@activity('Currenr_load').output.value[0].max_date",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "LS_SqlDatabase_Sink",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "annotations": []
    }
}